<app-navbar></app-navbar>
<div class="container">
  <div class="user-content">
    <div class="principal-card animate__animated animate__fadeInUp">
      <img [src]="picture" alt="Profile picture" width="150" height="150" />
      <h2>{{ name }}</h2>
      <h5>Skills and interest:</h5>
      <div class="cards-container">
        <div *ngFor="let skill of skillsInterests">
          <div
            class="card animate__animated animate__fadeInUp"
            *ngIf="skill.strengths.length !== 0"
          >
            <h5>{{ skill.name }}</h5>
            <ul>
              <li *ngFor="let item of skill.strengths">
                {{ item.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
