<mat-dialog-content>
  <p>Skill</p>
  <h5>{{ data.skillDetail.name }}</h5>
  <div class="detail-proficiency">
    <p>Proficiency:</p>
    <span class="material-icons"> {{ data.icon }} </span>
    <p>
      <span>{{ data.skillDetail.proficiency.toUpperCase() }}</span>
    </p>
  </div>
  <p>
    Recommendations: <span>{{ data.skillDetail.recommendations }}</span>
  </p>
  <p>
    Weigth: <span>{{ data.skillDetail.weight }}</span>
  </p>
  <hr />
  <div class="people-same-skill">
    <div class="loading" *ngIf="loading">
      <img src="../../../assets/Dual Ring-1s-200px.gif" alt="" />
    </div>
    <div *ngIf="arrayPeopleSameSkill.length > 0">
      <p>Other people with this skill:</p>
      <div class="card" *ngFor="let person of arrayPeopleSameSkill">
        <img [src]="person.picture" alt="profile image" />
        <div class="info-person">
          <p>{{ person.name }}</p>
          <p>{{ person.locationName || "No location " }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions> </mat-dialog-actions> -->
