/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* font-family: 'Questrial', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
/* font-family: 'Quicksand', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* font-family: 'Noto Sans', sans-serif; */

html,
body {
  height: 100%;
  background-color: rgb(39, 41, 45);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
